/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8/04/2020, 12:27:19 PM
    Author     : FERMIN.GOMEZ
*/
.contenedor input[type=date]:read-only, input[type=number]:read-only{
    background-color: rgba(235,250,250,0.5);
}

.contenedor input[type="checkbox"]:disabled{
    cursor: default;
}

.contenedor input[type="checkbox"]{
    margin: 0 4px 3px 0;
    vertical-align: middle;
    background: url("../img/checkbox-uncheck.png");
    background-size: cover;
    cursor: pointer;
}

.contenedor input[type="checkbox"]:checked{
    background: url("../img/checkbox-check.png");
    background-size: cover;
}

.contenedor input.audiFecha{
    width: 145px;
}

.contenedor input.audiFecha{
    margin: 1px 1px 1px 1px;
    height: 27px;
}

#dJueces{
    font-size: 12px;
    text-align: left;
    height: 110px;
    overflow:  auto;
    margin: 3px 3px 3px 3px;
}

.noIden{
    font-size: 12px;
    display: inline;
    font-weight: bold;
}

.noIden input[type="checkbox"]{
    height: 15px;
    width: 15px;
    cursor: pointer;
}

.selectize-input {
    padding: 3px 5px;
}


.contenedor img {
     width: 20px;
     vertical-align: text-top;
}

a.addJuez{
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: #706F6F;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    text-shadow: grey 5px 5px 5px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.contenedor .largo{
    width: 430px;
}

.contenedor .addAudi{
    width: 80px !important;
    height: 35px !important;
}
#tblAudiInves_length label, #tblAudiInves_filter label, #tblAudiInter_length label, #tblAudiInter_filter label,
#tblAudiJO_length label, #tblAudiJO_filter label{
    width: auto;
    margin: 20px 10px 20px 0;
    text-align: left;
}

#tblAudiInves_length, #tblAudiInves_filter, #tblAudiInter_length, #tblAudiInter_filter,
#tblAudiJO_length, #tblAudiJO_filter {
    height: 60px;
}
