/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20/09/2019, 11:43:59 AM
    Author     : FERMIN.GOMEZ
*/
.pestana {
    overflow: hidden;
    background-color: transparent;
    border-bottom: none;
    margin: 0 20px;
}
/* Style the buttons that are used to open the pestana Content */
.pestana button {
    background-color: #706F6F;
    color: #fff;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border-radius: 0 20px 0 0;
    margin: 0 1px 0 0;
}

/* Change background color of buttons on hover */
.pestana button:hover {
    background-color: #ddd;
}

/* Create an active/current pestanalink class */
.pestana button.active {
    background-color: #fff;
    color: #000;
    border: 1px solid #aaa;
    border-bottom: none;
/*    border-color: #000;
    border-width: 5px;*/
}

/* Style the pestana Content */
.pestanaContent {
    margin: 0 20px;
    display: none;
    padding: 6px 12px;
    border: 1px solid #aaa;
    border-top: none;
    background-color: #fff;
    border-radius: 0 10px 10px 10px;
}

