/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/09/2019, 03:17:07 PM
    Author     : CARLOS.SANCHEZG
*/
@import "pestanas.css";

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

body{
    margin: 0;
    /*background-color: #C5C5C5;*/
    background-image: url("../img/t2.jpg");
    font-family: Arial;
    color: #003057;
    font-size: 18px;
}

.cabecera{
    background-color: #27251F;
    margin: 0;
    width: 100%;
}

.cabecera #logo{
    height: 50px;
    margin: 5px 20px;
}

.cabecera #titulo{
    height: 35px;
    margin: 5px;
}

.cabecera #doscolores{
    height: 7px;
    background-color: #706F6F;
    border-right: 500px solid #0077CB;
}

.contenedor{
    text-align: center;
    margin: 0 20px 0 20px;
}

.contenedor h1{
    font-size: 35px;
    padding: 25px 0;
}

.contenedor h2{
    font-size: 25px;
    padding: 15px 0;
}

.contenedor .parrafo{
    text-align: justify;
    padding: 10px;
    margin-bottom:20px;
}

.contenedor .tablaFormu{
    width: 100%;
}

.contenedor input{
    margin:20px;
}

.contenedor input[type=submit]{
    background-color: #0077CB;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    width: 10%;
    height: 40px;
    font-size: 16px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.contenedor input[type=submit]:hover{
    background-color: #FFFFFF;
    color: #0077CB;
    width: 15%;
}

.contenedor input[type=text], .contenedor input[type=date]{
    padding: 2px 5px;
    border-radius: 5px;
    box-shadow: 0 1px #fff;
    width: 60%;
    height: 30px;
    font-size: 16px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


.contenedor input[type=text]:focus{
    box-shadow: 0 0 5px 5px rgba(0, 119, 203, 0.3);
}

input[type=text]:focus, input[type=text]:focus {
    box-shadow: 0 0 5px 5px rgba(55, 166, 155, 0.3);
    outline: 0;
}

.contenedor select{
   border: 1px solid #0077CB;
   font-size: 14px;
   padding: 2px 5px;
   width: 60%;
   height: 30px;
   font-weight: bold;
   margin: 20px;
   -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
   -ms-transition: all 0.3s ease;
   transition: all 0.3s ease;
}

label{
    display: block;
}
