/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/09/2019, 03:17:07 PM
    Author     : CARLOS.SANCHEZG
*/
@import "pestanas.css";
@import "menu.css";
@import "Tablas.css";

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

body{
    /*background: #706F6F;*/
    background-image: url("../img/fondo_final.png");
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial;
    color: #003057;
    font-size: 18px;
}

#splash{
    background-color: rgba(0,0,0,1);
    color: #fff;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}

#splash img{
    position: relative;
    margin-top: 10vh;
}

.cabecera{
    background-color: #27251F;
    width: 100%;
    z-index: 1000;
}

.cabecera #logo{
    height: 50px;
    margin: 5px 20px;
}

.cabecera #titulo{
    float: right;
    height: 50px;
    margin: 5px 20px;;
}

.cabecera #usu{
    float: right;
    color: #FFF;
    margin: 40px 10px 0 10px;
}

.cabecera #doscolores{
    height: 7px;
    background-color: #706F6F;
    border-right: 50em solid #0077CB;
}

.contenedor{
    text-align: center;
}

.contenedor form{
    margin: 0 20px;
}

.contenedor h1{
    font-size: 35px;
    padding: 15px 0;
    text-shadow: grey 5px 5px 5px;
}

.contenedor h2{
    font-size: 30px;
    padding: 12px 0;
    text-shadow: grey 5px 5px 5px;
}

.contenedor h3{
    font-size: 25px;
    padding: 15px 0;
    text-shadow: grey 5px 5px 5px;
}

.contenedor .parrafo{
    text-align: justify;
    padding: 10px;
    margin:0 20px 10px 20px;
}

.contenedor input{
    margin:0 20px 20px 20px;
}

.contenedor input[type=submit]{
    background-color: #0077CB;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    width: 10%;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.contenedor input[type=submit]:hover{
    background-color: #00CBCB;
    color: #FFFFFF;
    width: 15%;
}

.contenedor input, .contenedor input[type=text], .contenedor input[type=date], .contenedor input[type=number], 
.contenedor input[type=tel], .contenedor input[type=email]{
    padding: 2px 5px;
    border-radius: 5px;
    height: 30px;
    font-size: 14px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


.contenedor input[type=text]:focus, .contenedor input[type=date]:focus, .contenedor input[type=number]:focus, 
.contenedor input[type=tel]:focus, .contenedor input[type=email]:focus{
    box-shadow: 0 0 5px 5px rgba(0, 119, 203, 0.3);
}

.contenedor select{
    background-color: #27251F;
    color: #fff;
    border: 1px solid #0077CB;
    border-radius: 5px;
    font-size: 14px;
    padding: 2px 5px;
    height: 30px;
    margin:0 20px 20px 20px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.contenedor select:focus, .contenedor textarea:focus{
    box-shadow: 0 0 5px 5px rgba(0, 119, 203, 0.3);
}

.contenedor label{
    width: 300px;
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin: 20px auto 10px auto;
}

.contenedor .txtSmall{ width: 70px;}
.contenedor .txtMedia{ width: 160px;}
.contenedor .txtLong{ width: 300px;}
.contenedor .txtExBig{width: 800px;}
.contenedor .lblExBig{width: auto;}

fieldset{
    background-color: rgba(255,255,255,0.4);
    border-color:  #0077CB;
    border-radius: 8px;
    margin-bottom: 20px;
}

fieldset legend{
    color: #0077CB;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}

.comentarios{
    margin: 0 auto;
    width: 85%;
}

.comentarios h2{
    text-align: left;
}

.comentarios textarea{
    width: 100%;
    height: 100px;
    padding: 2px 5px;
    border-radius: 5px;
    box-shadow: 0 1px #fff;
    font-size: 16px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.nota{
    width:460px;
    text-align: justify;
    font-size: 13px;
    color: darkred;
    position: absolute;
    top: 10px;
    right: 1%;
}

.contenedor img{
    width: 20px;
}

.cols{
    display: inline-block;
    vertical-align: top;
    width: 350px;
}
.colsx{
    display: inline-block;
    vertical-align: top;
    width: 335px;;
}

.btnCerrar {
    float: right;
    margin:20px 25px;
    box-shadow:inset 0px 1px 0px 0px #54a3f7;
    background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    background-color:#007dc1;
    border-radius:3px;
    border:1px solid #124d77;
    cursor:pointer;
    color:#ffffff;
    font-weight:  bolder;
    font-size:16px;
    padding:6px 20px;
    text-decoration:none;
    text-shadow:0px 1px 0px #154682;
}

.btnCerrar:hover {
    background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
    background-color:#0061a7;
}

.btnCerrar:active {
    position:relative;
    top:1px;
}

.noIdentificada{
    margin-top: -15px;
}

.noIdentificada label{
    font-size: 13px;
    display: inline;
    color: #0077CB;
    vertical-align: text-top;
}

.contenedor input[type="radio"]{
    width:19px;
    height:19px;
    margin: 0 4px 0 0;
    border: none;
}
.contenedor input[type="checkbox"]{
    width:19px;
    height:19px;
    margin: 0 4px 0 0;
    border: none;
}

.contenedor input[type="checkbox"].chkAplica{
    width: 20px;
    height: 20px;
    margin: 5px 0 0 0;
}

.contenedor input[type="checkbox"].chkAplica:checked {
    background: #0077CB;
}

.contenedor .chkCat{
    width: 360px;
    display: inline-block;
    vertical-align: top;
    float: left;
    text-align: left;
}

.contenedor .chkCat label{
    display: inline;
}
.contenedor .selectize-control{
    text-align: left;
    margin: 0 auto;
}

#juzClave{
    float: left;
    margin: 0;
    text-align: left;
}

#juzClave label, #juzClave select{
    margin: 0;
}

#juzClave label{
    margin-bottom: 10px;
}

.load {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: url('../img/loading-35.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}
.msjAviso{
    position: absolute;
    top: 180px;
    right: 1%;
    color: #ff0000;
    width: 17%;
    font-size: 15px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
