/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/09/2019, 12:04:33 PM
    Author     : CESAR.OSORIO
*/

.tablasRegis {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  /*width: 85%;*/
  margin: 10px auto;
}

.tablasRegis td, .tablasRegis th {
  border: 1px solid #ddd;
  padding: 0px;
}
/*.tablasRegis .boton{
    text-align: right;
    background-image: url(../img/t2.jpg);
    border: 0;
}*/
/* css para boton dentro de un th*/
.btnTabla{
    background-color: #0077CB;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    width: 11%;
    height: 33px;
    font-size: 14px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1000;
}
.btnTabla img{
    vertical-align: text-bottom ;
}
.btnTabla{
    position: fixed;
    top: 193px;
    right: 121px;    
}
.btnTabla:hover{
    background-color: #00CBCB;
    color: #FFFFFF;
    width: 14%;
}
/**/

.tablasRegis tr{background-color: #fff;}

.tablasRegis tr:nth-child(even){background-color: #f2f2f2;}

.tablasRegis tr:hover {background-color: #ddd;}

.tablasRegis th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #003057;
  color: white;
}

.tablasRegis tr input, .tablasRegis tr select{
    margin: 5px;
}

fieldset{
    background-color: rgba(255,255,255,0.6);
    /*background-color: #EBF4FA;*/
    border-color:  #0077CB;
    border-radius: 8px;
    
}
fieldset legend{
    color: #0077CB;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}

.tblDelitos {
  text-align: center;
  border-collapse: separate;
  border-spacing: 0px;
  border: 1px solid #ddd;
  font-size: 15px;
}
.tblDelitos th{
    text-align: center;
    background-color: #0077C8;
    color: white;
    padding: 5px;
}
.tblDelitos td, .tblDelitos th {
  border: 1px solid #ddd;
}
.contenedor .tablaFormu .tblDelitos td{
  width: auto;
}
.contenedor .tablaFormu .tblDelitos2 td{
  width: auto;
}
.tblDelitos tr{background-color: #fff;}
.tblDelitos tr:nth-child(even){background-color: #EBF4FA;}
.tblDelitos tr:hover {background-color: #d8e5f1;}
.tblDelitos tr select{
   margin: 5px;
   background-color: #003057;
   height: 25px;
}
.tablaFormu .selPro{
   margin: 5px;
   background-color: #003057;
}
.lblColor{
    color: #0077C8;
}
.tablaFormu .cols{
    float: left;
}
.cols{
    float: left;
}
.contenedor .selPro{
   margin: 5px;
   background-color: #003057;
}
.tablaFormu fieldset{
    border-style: dotted;
    border-right: none;
    border-left: none;
    background-color: #EBF4FA;
/*    background-color: #eee;*/
}
.tablaFormu fieldset legend{
    font-size: 18px;
    text-align: left;
}
